pokraska.store, www.pokraska.store {
    encode zstd gzip

    reverse_proxy pokraska-store:4173 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Host {host}
    }
}
